.sidebar {
  padding: 0px;
  max-width: 150px important;
}

.sidebar-row {
  width: 100%;
  text-align: left;
  height: auto;
  vertical-align: middle;
  &:hover{
    background-color:#36A7E7;
    color: white;
    border-radius: 0.5em;
    box-shadow: 1px 2px 5px 1px rgba(100,68,68,0.75);
  }
}

.sidebar-icon{
  padding: 0.5em;
}

.sidebar-title{
  padding: 0.5em;
}